body {
    position: relative;
    background-size: 100%;
    background-image: url('https://media.gettyimages.com/id/1088374402/vector/circuit-board-illustration.jpg?s=2048x2048&w=gi&k=20&c=wvx2Xfz8C8Djkq5wiuV46a5g0vUSPkk49kI576XfwE8=');
}


header {
    font-family: 'Gajraj One';
    font-size: 40px;
    text-align: center;
    border: 0;
    border: 0;
    margin-bottom: 0;

}

p {
    font-family: 'Roboto', Arial, Helvetica, serif;
    font-size: 15px;
}

th, td {
    font-family: 'Roboto', Arial, Helvetica, serif;;
    font-size: 15px;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    background-color: whitesmoke;
    
}

th {
    font-weight: 500;
    background-color: darkblue;
    color: whitesmoke
}

td {
    font-weight: 300;
}

table {
    background-color: orange;
}




/* classes */

.caption {
    font-family: 'Roboto Mono';
    font-weight: 400;
    text-align: center;
    font-size: 15px;
    border: 0px;
    margin-top: 0px;
    margin-bottom: 40px;
    
}

.code {
    font-family: 'Roboto Mono';
    font-size: 12px;
    background-color:rgb(244, 239, 198);
    font-weight: 500;
}

.code p {
    font-size: 15px;
}

/* id elements */

.intro {
    width: fit-content;
    margin-bottom: 5px;
    margin-top: 30px;
    font-size: 15px;
    font-weight: 300;
    background-color: rgba(255, 255, 255, 0.5);
    
}

.codecademy {
    background-color: lightgray;
    color: darkblue;
}

.codecademy:visited {
    color: darkblue;
}
